@font-face {
  font-family: "Kalameh-Regular";
  src: url("/fonts/Kalameh-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kalameh-Medium";
  src: url("/fonts/Kalameh-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Kalameh-Bold";
  src: url("/fonts/Kalameh-Bold.ttf") format("truetype");
}

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /*! ----- Colors ----- */
  --color-primary: rgb(21, 93, 252);
  --color-secondary: rgba(21, 93, 252, 0.3);
  --color-card: #ffffff;
  --color-basebackground: #f7f8fa;
  --color-primary-text: #000000;
  --color-secondary-text: #6a7282;
  /*! ----- shadows ----- */
  --shadow-sm: 0px 3px 10px -8px rgba(0, 0, 0, 0.1);
  --shadow-md: 0px 5px 10px 4px rgba(0, 0, 0, 0.1);
  --inset-shadow-sm:
    -1px -1px 0px 0px rgba(255, 255, 255, 1),
    1px 1px 0px 0px rgba(255, 255, 255, 0.7);
  /*! ----- Font ----- */
  --font-kalameh-regular: "Kalameh-Regular";
  --font-kalameh-medium: "Kalameh-Medium";
  --font-kalameh-bold: "Kalameh-Bold";
  /*! ----- Font size ----- */
  --text-size-description: clamp(0.875rem, 2.5vw, 1rem);
  --text-size-title: clamp(1rem, 2.5vw, 1.25rem);
}

@property --rotate {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes rotate {
  from {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}

@layer base {
  input {
    @apply border-none outline-none;
  }

  .container {
    @apply max-w-375! mx-auto;
  }
}

@layer components {
  body {
    @apply font-kalameh-regular text-size-description bg-basebackground;
  }

  #root {
    @apply h-dvh;
  }

  /** ----- Header ----- */
  .right-section,
  .left-section {
    @apply h-13 px-1.5 flex items-center justify-start gap-x-2.5 bg-card text-primary-text shadow-sm rounded-full;
  }

  .menu-btn,
  .theme-btn {
    @apply size-10 p-1.5 flex items-center justify-center bg-basebackground rounded-full transition-colors duration-300 cursor-pointer hover:bg-secondary hover:text-primary [&_svg]:size-5.5;
  }

  /** ----- Sidebar ----- */
  #sidebar {
    @apply max-w-65 w-14 h-full p-1.5 flex flex-col items-start justify-between bg-card shadow-sm rounded-[28px] z-40 transition-[width] duration-300;
  }

  #sidebar.open {
    @apply w-60;
  }

  .menu-item,
  .import-btn,
  .export-btn {
    @apply w-full h-11 px-2.75 flex items-center justify-start gap-x-3 font-kalameh-medium font-[15px] rounded-full transition-colors duration-300 overflow-hidden cursor-pointer [&_svg]:size-5.5;
  }

  #sidebar .item-text {
    @apply grow-0 shrink-0;
  }

  /** ----- Main ----- */
  main {
    @apply space-y-4 grow shrink overflow-y-auto;
  }

  /*? ----- Filter ----- */
  .filter-wrapper {
    @apply w-19.5 h-9 px-0.5 flex items-center justify-start gap-x-1.5 text-primary-text bg-basebackground rounded-full overflow-hidden transition-[width] duration-400;
  }

  .filter-wrapper:has(.filter-button.open) {
    @apply w-85.75;
  }

  .filter-button,
  .add-new-product-btn {
    @apply flex items-center justify-center gap-x-1 font-kalameh-medium text-primary-text bg-basebackground rounded-full cursor-pointer transition-colors duration-300 hover:bg-secondary hover:text-primary;
  }

  .filter-button svg,
  .add-new-product-btn svg {
    @apply size-5 transition-colors duration-300;
  }

  .filter-itemes-wrapper {
    @apply flex items-center gap-x-1.5 shrink-0 grow;
  }

  .filter-item {
    @apply px-2.5 py-1 text-nowrap cursor-pointer rounded-full transition-colors duration-300 hover:bg-secondary hover:text-primary;
  }

  .filter-item.active {
    @apply bg-secondary text-primary;
  }

  /*? ----- Table ----- */
  .table-head-row .table-row-elem {
    @apply bg-basebackground text-primary-text;
  }

  .table-cell {
    @apply text-primary-text;
  }

  .table-cell:nth-child(1) {
    @apply max-w-18;
  }

  .table-cell:nth-child(2) {
    @apply flex-2!;
  }

  .table-cell:nth-child(5) {
    @apply max-w-12;
  }

  .table-cell:nth-child(6) {
    @apply w-17 flex! items-center justify-center gap-x-2;
  }

  /*? ----- Tools ----- */
  .product-table .show-tool-btn,
  .product-table .edit-tool-btn,
  .product-table .remove-tool-btn {
    @apply text-primary-text cursor-pointer [&_svg]:size-5 [&_path]:transition-colors [&_path]:duration-300;
  }

  .product-table .remove-tool-btn {
    @apply hover:[&_path]:stroke-red-600;
  }

  .product-table .edit-tool-btn {
    @apply hover:[&_path]:stroke-yellow-600;
  }

  .product-table .show-tool-btn {
    @apply hover:[&_path]:stroke-blue-600;
  }

  /*? Remove tool */
  .remove-confirm-text > span {
    @apply px-2 bg-red-600/20 text-red-600 rounded-lg;
  }

  /*? View tool */
  .view-product-row {
    @apply flex flex-col gap-y-2;
  }

  .view-product-label {
    @apply pr-3 relative font-kalameh-bold;
  }

  .view-product-label::before {
    @apply content-[""] absolute top-1/2 right-0 -translate-y-1/2 w-2 h-1 bg-primary rounded-full;
  }

  .view-product-value {
    @apply w-full h-10 px-4 flex items-center justify-start bg-basebackground rounded-full;
  }

  /*? ----- Pagination ----- */
  .pagination-prev-btn,
  .pagination-next-btn,
  .pagination-btn {
    @apply size-9 flex items-center justify-center rounded-full text-primary-text cursor-pointer transition-colors duration-300;
  }

  .pagination-prev-btn,
  .pagination-next-btn {
    @apply bg-basebackground [&_svg]:size-7 hover:bg-secondary hover:text-primary;
  }

  .pagination-btn.active {
    @apply bg-secondary text-primary;
  }

  /*? ----- Modal -----  */
  .modal .header-modal,
  .modal .footer-modal {
    @apply flex items-center justify-start gap-x-2 text-primary-text;
  }

  .modal .input-modal {
    @apply w-full h-12 px-4 bg-card text-primary-text not-last:border-b-2 not-last:border-solid not-last:border-basebackground;
  }

  .modal .cancel-btn,
  .modal .confirm-btn {
    @apply w-full h-10.5 px-3.5 rounded-full cursor-pointer transition-colors duration-300;
  }

  /** ----- Footer ----- */
  .social-link {
    @apply size-7.5 flex items-center justify-center relative rounded-full z-1;
  }

  .social-link::before {
    @apply content-[""] size-1.5 absolute top-1/2 left-1/2 -translate-1/2 bg-primary rounded-full -z-1 transition-transform duration-300;
  }

  .social-link:hover::before {
    @apply -translate-y-6;
  }

  .social-link span {
    @apply size-full p-1.25 flex items-center gap-x-2 bg-primary rounded-[inherit];
  }

  .social-link svg {
    @apply size-5 grow-0 shrink-0 [&_path]:fill-white [&_path]:transition-colors [&_path]:duration-300;
  }

  /*! ----- Empty element ----- */
  .empty-element::before {
    @apply content-[""] w-[calc(100%+0.2rem)] h-[calc(100%+0.2rem)] absolute top-1/2 left-1/2 -translate-1/2 rounded-[inherit] -z-1 blur-xs opacity-50;
    background-image: conic-gradient(
      from var(--rotate),
      transparent 50%,
      var(--color-primary)
    );
    animation: rotate 3s linear infinite;
  }
}
