@font-face {
  font-family: "Kalameh-Regular";
  src: url("/fonts/Kalameh-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kalameh-Medium";
  src: url("/fonts/Kalameh-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Kalameh-Bold";
  src: url("/fonts/Kalameh-Bold.ttf") format("truetype");
}

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /*! ----- Colors ----- */
  --color-primary: rgb(21, 93, 252);
  --color-secondary: rgba(21, 93, 252, 0.3);
  --color-tertiary: #1e2939;
  --color-card: #ffffff;
  --color-basebackground: #f1f1f1;
  --color-primary-text: #000000;
  --color-secondary-text: #6a7282;
  --color-primary-icon: #000000;
  --color-secondary-icon: #6a7282;
  --color-glass: rgba(255, 255, 255, 0.5);
  /*! ----- shadows ----- */
  --shadow-sm: 0px 0px 15px -4px rgba(0, 0, 0, 0.1);
  --inset-shadow-sm:
    -1px -1px 0px 0px rgba(255, 255, 255, 1),
    1px 1px 0px 0px rgba(255, 255, 255, 0.7);
  /*! ----- Font ----- */
  --font-kalameh-regular: "Kalameh-Regular";
  --font-kalameh-medium: "Kalameh-Medium";
  --font-kalameh-bold: "Kalameh-Bold";
  /*! ----- Font size ----- */
  --text-size-description: clamp(0.875rem, 2.5vw, 1rem);
  --text-size-title: clamp(1rem, 2.5vw, 1.25rem);
}

@layer base {
  input {
    @apply border-none outline-none;
  }

  .container {
    @apply !max-w-375 mx-auto;
  }
}

@layer components {
  body {
    @apply font-kalameh-regular text-size-description bg-basebackground;
    background-color: #f1f1f1;
    background-image: radial-gradient(
      rgba(12, 12, 12, 0.171) 2px,
      transparent 0
    );
    background-size: 30px 30px;
    background-position: -5px -5px;
  }

  #root {
    @apply h-[100dvh];
  }

  /** ----- Sidebar ----- */
  #sidebar {
    @apply max-w-65 w-14 h-full p-1.5 flex flex-col items-start justify-between bg-glass backdrop-filter-[url('#liquid-filter')blur(1px)] inset-shadow-sm rounded-[28px] z-40 transition-[width] duration-300;
  }

  #sidebar.open {
    @apply w-60;
  }

  .menu-item,
  .import-btn,
  .export-btn {
    @apply size-11 flex items-center justify-center gap-x-2 font-kalameh-medium font-[15px] rounded-full transition-colors duration-300 overflow-hidden cursor-pointer [&_svg]:size-5.5;
  }

  #sidebar.open .menu-item,
  #sidebar.open .import-btn,
  #sidebar.open .export-btn {
    @apply w-full justify-start px-3;
  }

  #sidebar .item-text {
    @apply grow-0 shrink-0;
  }

  #sidebar .item-text {
    @apply hidden;
  }

  #sidebar.open .item-text {
    @apply block;
  }

  /** ----- Main ----- */
  main {
    @apply space-y-4 grow-1 shrink-1 overflow-y-auto;
  }
  /*? ----- Filter ----- */
  .filter-button,
  .add-new-product-btn {
    @apply w-fit h-9 p-3 flex items-center justify-center gap-x-1 font-kalameh-medium text-primary-text bg-card/80 border-2 border-solid border-transparent rounded-full cursor-pointer transition-colors duration-300 hover:bg-secondary hover:text-primary;
  }

  .filter-button svg,
  .add-new-product-btn svg {
    @apply size-5 transition-colors duration-300;
  }

  .filter-itemes-wrapper {
    @apply w-35 absolute top-9 right-0 bg-basebackground shadow-sm rounded-2xl z-48 overflow-hidden;
  }

  .filter-item {
    @apply px-2 py-1 rounded-full cursor-pointer transition-colors duration-300 hover:bg-black hover:text-white;
  }

  .filter-item.active::before {
    @apply content-['✔️'] ml-1;
  }

  /*? ----- Table ----- */
  .table-head-row .table-row-elem {
    @apply bg-basebackground;
  }

  .table-cell:nth-child(1) {
    @apply max-w-18;
  }

  .table-cell:nth-child(2) {
    @apply !flex-2;
  }

  .table-cell:nth-child(5) {
    @apply max-w-12;
  }

  .table-cell:nth-child(6) {
    @apply w-17 !flex items-center justify-center gap-x-2;
  }

  /*? ----- Tools ----- */
  .show-tool-btn,
  .edit-tool-btn,
  .remove-tool-btn {
    @apply cursor-pointer [&_svg]:size-5 [&_path]:transition-colors [&_path]:duration-300;
  }

  /*? Remove tool */
  .remove-confirm-text > span {
    @apply px-2 bg-red-600/20 text-red-600 rounded-lg;
  }

  /*? View tool */
  .view-product-row {
    @apply flex flex-col gap-y-2;
  }

  .view-product-label {
    @apply pr-3 relative font-kalameh-bold;
  }

  .view-product-label::before {
    @apply content-[""] absolute top-1/2 right-0 -translate-y-1/2 w-2 h-1 bg-primary rounded-full;
  }

  .view-product-value {
    @apply w-full h-10 px-4 flex items-center justify-start bg-basebackground rounded-full;
  }

  /*? ----- Pagination ----- */
  .pagination-prev-btn,
  .pagination-next-btn,
  .pagination-btn {
    @apply size-9 flex items-center justify-center bg-basebackground rounded-full cursor-pointer transition-colors duration-300 hover:bg-black hover:text-white;
  }

  .pagination-prev-btn,
  .pagination-next-btn {
    @apply [&_svg]:size-7;
  }

  .pagination-prev-btn:disabled,
  .pagination-next-btn:disabled {
    @apply bg-transparent text-secondary cursor-no-drop hover:text-secondary;
  }

  .pagination-btn.active {
    @apply bg-black text-white;
  }

  /*? ----- Modal -----  */
  .modal .header-modal,
  .modal .footer-modal {
    @apply flex items-center justify-start gap-x-2;
  }

  .modal .input-modal {
    @apply w-full h-10 px-4 bg-basebackground rounded-full;
  }

  .modal .cancel-btn,
  .modal .confirm-btn {
    @apply h-8.5 px-3.5 rounded-full cursor-pointer transition-colors duration-300;
  }

  /** ----- Footer ----- */
  .social-link {
    @apply size-8 p-0.5 flex items-center justify-center bg-glass backdrop-filter-[url('#liquid-filter')blur(1px)] inset-shadow-sm rounded-full overflow-hidden transition-[width] duration-300;
  }

  .social-link:hover {
    @apply w-26 [&_.social-name]:inline-block;
  }

  .social-link span {
    @apply size-full p-1 flex items-center gap-x-2 bg-primary rounded-[inherit];
  }

  .social-link svg {
    @apply size-5 grow-0 shrink-0 [&_path]:fill-white [&_path]:transition-colors [&_path]:duration-300;
  }

  .social-link .social-name {
    @apply text-white;
  }
}
